# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter/Dart 관련 캐시 및 환경 파일
.metadata
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
build/

# Android 관련
android/.gradle/
android/app/build/

# iOS 관련
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/

# VS Code / IntelliJ / Xcode 설정 파일
.vscode/
.idea/
*.iml

# macOS 관련 (선택적, 사용 중이라면)
macos/Flutter/ephemeral/

# 기타 시스템 관련
.DS_Store
